@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
:root{
    --cell-size: 15vh;
    --marksize: calc(var(--cell-size) * 0.8);
    --background-color: #000000;
    --X-color: #fff;
    --Xhover-color: #888888;
    --O-color: #fff;
    --Ohover-color: #888888;
    --main-color: #fff;
}


/*MAIN CONTAINER*/
#mainContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--background-color);
}




#gameTitle{
    text-decoration: none;
    position: absolute;
    font-size: 5em;
    width: 80%;
    height: 20%;
    color: var(--main-color);
    background-color: var(--background-color);
    text-align: center;
    top: 1%;
    z-index: 5;
    transition: 400ms ease-in;
    overflow: hidden;
}

#gameTitle::after{
    content: 'Made by: Phan Vũ Tuấn Anh';
    position: absolute;
    text-align: center;
    width: 38%;
    height: 25%;
    top: 75%;
    right: 0%;
    font-size: 0.25em;
    background-color: var(--background-color);
    transition: 400ms ease-in;
    cursor: pointer;
}

#gameTitle:hover:after{
    animation: showingURL 500ms forwards;
    
}
@keyframes showingURL{
    from{content: 'Made by: Phan Vũ Tuấn Anh';}
    25%{transform: translateY(120%);}
    50%{
        transform: translateY(120%);
        border: 2px solid var(--main-color);
        border-radius: 20px;}
    75%{
        content: '';
        transform: translateY(120%);
        border: 2px solid var(--main-color);
        border-radius: 20px;}
    to{
    content: 'https://www.facebook.com/kiteryukatori/';
    border: 2px solid var(--main-color);
    border-radius: 20px;}
}


#turnIndicator{
    text-align: center;
    width: 20%;
    border: 2px var(--main-color) solid;
    border-left: none;
    border-right: none;
    font-size: 2.5em;
    color: var(--main-color);
    position: absolute;
    top: 22.5%;
    z-index: 5;
}



/*GAME CONTAINER*/
#gameContainer{
    position: absolute;
    margin-top: 10%;
    width: 60%;
    height: 60%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}
/*MAIN MODAL*/
.modal{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}
#announcement{
    font-size: 5em;
    color: var(--main-color);
    margin-bottom: 2.5%;
}
#restartButton{
    position: relative;
    font-size: 2em;
    width: 200px;
    height: 25%;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background: var(--background-color);
    cursor: pointer;
    transition: 400ms ease all;
}
#restartButton:hover{
    color: var(--background-color);
    z-index: 1;
}
#restartButton::before{
    position: absolute;
    content: '';
    background-color: var(--main-color);
    top: 0;
    bottom: 0;
    left: 51%;
    right: 51%;
    transition: 400ms ease all;
}
#restartButton:hover:before{
    left: 0%;
    right: 0%;
    z-index: -1;
}
.modal.active{
    display: flex;
    transition: 400ms ease all;
}


/*BOARD*/
.board{
    position: absolute;
    width: 80%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content:center ;
    background-color: var(--background-color);
    grid-template-columns: repeat(3, auto);
}
.cell{
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*Selected cells*/
.cell.x, .cell.o{
    cursor: not-allowed;
}
/*Minimalize the Board*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){border-top: none;}
.cell:nth-child(3n){border-right: none;}
.cell:nth-child(3n+1){border-left: none;}
.cell:nth-child(n+7){border-bottom: none;}

/*X*/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x, .o):hover:after,
.board.x .cell:not(.x, .o):hover:before {
    position: absolute;
    content:'';
    width: calc(var(--marksize) * 0.125);
    height: var(--marksize);
    background-color: var(--X-color);
}
.cell.x::before,
.board.x .cell:hover::before
 {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover:after
 {
    transform: rotate(-45deg);
}
/*X Hovering */
.board.x .cell:not(.x, .o):hover:after,
.board.x .cell:not(.x, .o):hover:before {
    background-color: var(--Xhover-color);
}
/*O*/
.cell.o::after,
.cell.o::before,
.board.o .cell:not(.x, .o):hover:after,
.board.o .cell:not(.x, .o):hover:before{
    position: absolute;
    content:'';
    border-radius: var(--marksize);
}
.cell.o::before,
.board.o .cell:not(.x, .o):hover:before {
    width: var(--marksize);
    height: var(--marksize);
    background-color: var(--O-color);
}
.cell.o::after,
.board.o .cell:not(.x, .o):hover:after {
    width: calc(var(--marksize) * 0.75);
    height: calc(var(--marksize) * 0.75);
    background-color: var(--background-color);
}
/*O Hovering */
.board.o .cell:not(.x, .o):hover:before {
    background-color: var(--Ohover-color);
}





/*SCORE BOARD*/
#scoreBoard {
    position: absolute;
    width: 50%;
    height: 8%;
    bottom: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score{
    color: var(--main-color);
    font-size: 2em;
}